:root {
  --primary-color: #0d1b2a; /* Dark Blue */
  --secondary-color: #415a77; /* Lighter Blue */
  --accent-color: #1b263b; /* Accent Blue */
  --text-color: #e0e1dd; /* Light Grey */
  --bg-color: #0d1b2a;
  --bg-color-light: #f8f9fa;
  --text-color-light: #212529;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: var(--text-color-light);
  }
  body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
}
